.List-container {
  display: flex;
}


td {
  text-align: center;
}

.search h1 {
  text-align: center;
}
.search-list {
  display: flex;
  border: 2px solid #000;
  border-radius: 20px;
}

.search-list input {
  outline: none;
  border: none;
  width: 100%;
  font-size: 1.3rem;
  padding: 12px;
}

.search-list .MuiSvgIcon-root {
  font-size: 3rem;
}