.appointmentContainer {
    width: 100%;
    display: flex;
    gap: 10px;
}

.appointmentOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    margin: auto;
    gap: 30px;
}

.select {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0 5px;

}

.datePicker {
  font-size: 1.5rem;
  width: 325px;
  font-weight: 400;
  height: 30px;

}

.btn-appointment {
  font-size: 1.5rem;
  width: 325px;
  font-weight: 400;
  background-color: #4361ee;
  border: none;
  outline: none;
  padding: 10px;
  color: #fff;
}

.input-appointment {
  padding: 10px;
  font-size: 1.3rem;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
}
