.card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 20px;
}

.card > img {
  height: 90px;
  object-fit: contain;
  border-radius: 8px;
  padding: 2px;
}

.doctor__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
