.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: white;
}

.card > img {
  max-height: 200px;
  width: 95%;
  object-fit: contain;
  margin-bottom: 15px;
  border-radius: 8px;
  padding: 2px;
}

.btn_booking {
  font-size: 1.2rem;
  width: 215px;
  font-weight: 200;
  height: 30px;
  background-color: #4361ee;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 8px;
  border: 1px solid;
  margin-top: 6px;
}
