.contacts {
  width: 100%;
  display: flex;
  gap: 8%;
}

h1 {
  margin-bottom: 15px;
}

form {
  display: block;
  background-color: #fff;
  box-shadow: 1px 1px 3px 2px #ddd;
  padding: 20px 40px;
  width: 70%;
  position: relative;
}

form input,
textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px auto;
  padding: 8px;
  background-color: #faf9f6;
  border: 2px solid #000;
  outline: none;
}

form span {
  color: #add8e6;
}

.btn-submit {
  text-align: center;
  bottom: 0;
  height: 45px;
  width: 200px;
  align-items: center;
  border: none;
  background-color: #4361ee;
  margin: 20px 0;
  padding: 8px;
  color: #fff;
  font-size: 1.2rem;
  position: fixed;
  bottom: 20%;
  right: 5%;
}

.btn-submit:after {
  content: "»";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  top: 11px;
  right: -20px;
  transition: 0.5s;
}

.btn-submit:hover {
  padding-right: 14px;
  padding-left: 8px;
  scale: 1.1;
}

.btn-submit::before {
  content: "»";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  top: 11px;
  left: -20px;
  transition: 0.5s;
}

.btn-submit:hover:after {
  opacity: 1;
  right: 10px;
}
.btn-submit:hover::before {
  opacity: 1;
  left: 10px;
}