.profileContainer {
  width: 100%;
  height: 75vh;
 
  display: flex;
}

.profileImage {
  display: flex;
  padding: 2%;
  flex-direction: column;
  gap: 5px;
}

.profileImage img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.profileInfo {
  width: 100%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* .icon {
 position: absolute;
 right: 25%;
 top: 80%;
 color: #fff;
} */

.icon:hover {
    scale: 1;
}
.genderSelection{
    display: flex;
    gap: 30px;
}

.genderSelection div {
    border: 2px solid #000;
    padding: 10px;
    background-color: #023e8a;
    color: #fff;
    width: 120px;
}

.profileInnerContainer {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.loader {
  width: 100%;
  font-size: 4rem;
  color: red;
  text-align: center;
  background-image: url("../asset/img3.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  height: 68%;
  padding-top: 12%;
}

.upload-image {
  background-color: #4361ee;
  color: white;
  padding: 0.8rem 1.2rem;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.1rem;
  width: 200px;
}

