.sidebar-container {
  width: 20%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: #caf0f8;
}

.logout-btn {
  background-color: red;
  padding: 10px;
  color: white;
  font-size: 1.3rem;
  outline: none;
  position: absolute;
  /* margin: 40% 15%; */
  border: none;
  bottom: 0;
  /* left : 80px */
  margin: 0 30px;
  width: 170px;
}

.logout-btn:hover {
  padding-right: 14px;
  padding-left: 8px;
  scale: 1.1;
}

.logout-btn:after {
  content: "»";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  top: 10px;
  right: -20px;
  transition: 0.5s;
}

.logout-btn::before {
  content: "»";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  top: 10px;
  left: -20px;
  transition: 0.5s;
}

.logout-btn:hover:after {
  opacity: 1;
  right: 10px;
}

.logout-btn:hover::before {
  opacity: 1;
  left: 10px;
}

.sidebar-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 5px auto;
}

.sidebar-container a {
  cursor: pointer;
  background-color: #4361ee;
  color: #fff;
  padding: 7px;
  border-radius: 5px;
  margin: 5px 60px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  position: relative;
  text-decoration: none;
}
.sidebar-container a:hover {
  padding-right: 14px;
  padding-left: 8px;
  scale: 1.1;
}

.sidebar-container a:after {
  content: "»";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  top: 5px;
  right: -20px;
  transition: 0.5s;
}

.sidebar-container a::before {
  content: "»";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  top: 5px;
  left: -20px;
  transition: 0.5s;
}

.sidebar-container a:hover:after {
  opacity: 1;
  right: 10px;
}
.sidebar-container a:hover::before {
  opacity: 1;
  left: 10px;
}
